# Configuración de Telegram (CallMeBot)
TELEGRAM_API_URL=http://api.callmebot.com/text.php?
ISHTML=yes
ISLINKS=no

# Configuración de JWT
JWT_SECRET=super_secret_key_for_testing

# Database Connection Configuration
DB_TYPE=better-sqlite3
DB_DATABASE=database.sqlite
DB_LOGGING=true
DB_MIGRATIONS_RUN=true

# PostgreSQL Configuration
# DB_TYPE=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=postgres
